.site-main {
    border-bottom: 1px solid #D1D2D4;
}
.container {
    margin-top: 80px;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.pt-40 {
    padding-top: 40px;
}
form {
    display: block;
    margin-top: 0em;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.checkout .checkout-payment {
    max-width: 870px;
}
.checkout .checkout-payment h3.checkout-title{
    font-size: 20px;
    line-height: 30px;
    color: #221f20;
    margin-bottom: 18px;
}
.checkout-payment .block-border {
    padding: 32px 26px;
    height: 100%;
    position: relative;
}
.block-border {
    border: 1px solid #e7e8e9;
    border-radius: 32px 0px;
}
.checkout-payment p {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
}
.ds__item {
    padding-left: 32px;
    display: block;
    position: relative;
    cursor: pointer;
}
.checkout-payment .ds__item {
    padding-bottom: 0;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding-left: 22px;
}
 input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

/* .ds__item__input {
    display: none;
} */
.checkout .checkout-payment .ds__item__label {
    position: relative;
}
.checkout-payment .ds__item__label {
    font-size: 14px;
    line-height: 16px;
    color: #221f20;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.ds__item__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #221f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
}
.ds__item__input:checked ~ .ds__item__label {
    color: #221f20;
    font-weight: 600;
}
.checkout-payment .ds__item__input:checked ~ .ds__item__label {
    font-weight: 400;
}
/* .checkout .checkout-payment .ds__item__label:before {
    width: 12px;
    height: 12px;
    border-width: 1px;
    font-size: 8px;
    top: 2px;
    left: -22px;
}
.ds__item__label:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #7d8699;
    left: 0;
    top: 1px;
} */
.checkout-payment .ds__item + .ds__item {
    margin-top: 24px;
}
.cart-summary {
    /* max-width: 390px; */
    width: 100%;
    margin-left: auto;
}
.cart-summary {
    padding: 22px;
    background: rgba(247, 248, 249, 0.5);
}
.cart-summary__overview h3 {
    margin-bottom: 18px;
    color: #221f20;
}
.cart-summary__overview .cart-summary__overview__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-summary__overview .cart-summary__overview__item p {
    font-size: 14px;
    line-height: 16px;
    color: #57585a;
    margin-bottom: 0;
}
.cart-summary__voucher-form {
    margin-top: 52px;
    background: rgba(247, 248, 249, 0.5);
    position: relative;
}
.cart-summary__voucher-form .cart-summary__voucher-form__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    position: relative;
}
.cart-summary__voucher-form .cart-summary__voucher-form__title h4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #939598;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.cart-summary__overview .cart-summary__overview__item + .cart-summary__overview__item {
    margin-top: 20px;
}
.cart-summary__voucher-form .form-group {
    display: flex;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    width: 100%;
    height: 48px;
    border: 1px solid #e7e8e9;
    background: #ffffff;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 16px;
    font-family: "Montserrat", sans-serif;
    outline: none;
}
input[type=text]{
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    font-size: 14px;
    color: #57585A;
    font-family: 'Montserrat', sans-serif;
}
.cart-summary__voucher-form .form-group .form-control {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    border: 1px solid #e7e8e9;
}
.cart-summary__voucher-form .form-group .btn {
    flex: 0 0 104px;
    max-width: 104px;
    height: 48px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
}
.btn--large.btn--outline {
    background-color: white;
    border: 1px solid #221f20;
    color: #221f20;
}

.btn {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.cart-page__col-summary .cart-summary__button {
    padding-top: 0;
}
.cart-summary__button .btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}